<h3>Beskriv boken</h3>
<div class="form-group">
  <label for="titleInput">Titel</label>
  {{input type="text" class="form-control" id="titleInput" placeholder="Titel" value=order.book.title}}
</div>
<div class="form-group">
  <label for="authorInput">Författare</label>
  {{input type="text" class="form-control" id="authorInput" placeholder="Författare" value=order.book.author}}
</div>
