<h3>Beskriv databasen</h3>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="titleInput">Titel</label>
    {{input type="text" class="form-control" id="titleInput" placeholder="Titel" value=order.database.title}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="otherInput">Övriga uppgifter</label>
    {{textarea class="form-control" id="otherInput" value=order.database.other}}
  </div>
</div>
<hr>
