<h3>Beskriv tidskriften</h3>
<div class="form-group">
  <label for="titleInput">Titel</label>
  {{input type="text" class="form-control" id="titleInput" placeholder="Titel" value=order.journal.title}}
</div>
