<h3>Beskriv tidskriften</h3>
<div class="form-group">
  <label for="titleInput">Titel</label>
  {{input type="text" class="form-control" id="titleInput" placeholder="Titel" value=order.journal.title}}
</div>
<div class="form-group">
  <label for="issnInput">ISSN</label>
  {{input type="text" class="form-control" id="issnInput" placeholder="ISSN" value=order.journal.issn}}
</div>
<div class="form-group">
  <label for="otherInput">Övriga uppgifter</label>
  {{textarea class="form-control" id="otherInput" value=order.journal.other}}
</div>
