<h3>Beskriv materialet</h3>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="titleInput">Beskrivning</label>
    {{textarea rows=4 class="form-control" id="titleInput" value=order.other.description}}
  </div>
</div>
<hr>
