<h3>Dina uppgifter</h3>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="nameInput">Namn</label>
      {{input type="text" value=order.name class="form-control" id="nameInput" placeholder="Namn"}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="emailInput">Epost</label>
      {{input type="text" value=order.email class="form-control" id="emailInput" placeholder="Epost"}}
    </div>
  </div>
