<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Föreslå ett inköp</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus porta sem, non sodales ex imperdiet vitae. Phasellus fermentum ligula vitae neque viverra blandit.
      </p>
      <p>
        Quisque quam justo, finibus eget gravida sed, faucibus eu justo. Mauris sem lectus, pretium vitae ultricies et, imperdiet vel eros. Donec luctus interdum auctor. Vestibulum mollis tempor commodo. Duis eleifend dictum nibh, sed lobortis nunc scelerisque vel.
      </p>
      <p>
        <a href="#">Mer information om hur biblioteket köper in</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Vad vill du att vi köper in?</h2>
      {{#button-group-selector}}
      {{/button-group-selector}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h3>Beskriv boken</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Titel</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titel">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Författare</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Författare">
        </div>

        <button type="submit" class="btn btn-primary">Skicka</button>
      </form>
    </div>
  </div>
  {{outlet}}

</div>
